:root {
    --light: #fff;
    --primary: #eb3333;
    --grey: hsl(0, 7%, 91%);
    --secondary: rgb(255, 196, 68);
    --swiper-theme-color: var(--primary) !important;
    --swiper-navigation-size: 32px !important;
    --text-para: #777171;
    --dark: rgb(17, 16, 16);
    --m-top-x: 48px;
}

* {
    box-sizing: border-box;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

body {
    scroll-behavior: smooth;
    background-color: #fff;
    max-width: 2280px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 2.5rem;
}

h2>span {
    color: var(--primary);
}

p,
button {
    font-family: 'Roboto', sans-serif;
    color: var(--text-para);
    font-size: 14px;
}

p {
    line-height: 30px;
}

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active {
    color: var(--primary) !important;
    font-weight: 600;
}

@media screen and (max-width:428px) {
    h2 {
        font-size: 2rem;
    }
}