.navContainer{
    background-color:var(--light);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    width: 100%;
    z-index: 1000;
    transition: all 1s linear;
   
  
}

.fixed{
    background-color:var(--light);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    transition: all 1s linear;
    top: 0;
    left: 0;}
.logo{
   
    height: 100%;
   
}

.links ul{
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.links a {
    color:var(--dark);
    font-size:14px;

}

.socialPack{
    width:100px;
    display:flex;
    gap: 16px;
    align-items: center;
}

.socialPack i{
    color: var(--primary);
    font-size: 1.2rem;
    cursor:pointer;
}



@media screen  and (max-width:834px){
    .links{
        position: absolute;
        top: 80px;
        z-index: 100;
        width: 100%;
        left: 0;
        background-color: var(--light);
        gap:16px;
        transition: all .5s linear;
        overflow: hidden;
        height:auto;
        padding: 60px;
        
    }

    .links ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap:16px;
    }

    .linksVisible{
       height: auto;
       padding: 60px;
       position: absolute;
       top: 80px;
       z-index: 100;
       width: 100%;
       left: 0;
       background-color: var(--light);
       gap:16px;
       transition: all .5s linear;
       overflow: hidden;
       
    }

 

}

@media screen  and (max-width:620px){
    .socialPack{
       display:none
    }
  

}
