.review{
    width: 100%;
    height: 100%;
}

.review p{
    color: var(--secondary);
    text-align: left !important;
    margin: auto !important;
    font-size:.8rem;
}

.review span{
    color: var(--primary);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left:  60px;
}

@media screen and (max-width:500px) {
    .review span{
        margin-left:0;
    }
}
