.singleService{
    width: auto;
    height: 300px;
    min-height: 300px;
    min-width:250px;
    position:relative;
    
    
}

.singleService h3{
    color: var(--light);
    text-align: center;
    font-size: 24px;
    margin-top: 36px;
}
.singleService p{
    color: var(--light);
    position:absolute;
    width:100% !important;
    max-width:360px;
    padding:0 24px;
    left:50%;
    top:40px;
    transform:translateX(-50%)
}

@media screen and (max-width:800px) {
    .singleService{
        width:auto;
        height: auto; 
    }
}